# Ignore Gradle project-specific cache directory
gradlew*
gradle/*

# Ignore file
.project
app/.classpath

# Ignore file types
*.class
app/*.txt

app/src/main/java/agentes/*
**/test/*
# Ignore Gradle build output directory
build

.gradle/*
**/.settings/*
